.Service {
    width: 100%;
    height: auto;
    padding-top: 5rem;
}
.h1-services {
    color: $primary-text-c;
    margin-top: 15vh;
    margin-bottom: 2rem;
}
.h3-services {
    color: $primary-text-c;
    text-align: right;
    font-weight: 500;
}

.p-services {
    color: $primary-text-c;
    padding-left: 10rem;
    font-size: smaller;
}