.h1-footer {
    color: $primary-text-c;
}
.p-footer {
    color: $secondary-text-c;
}
.li-footer {
    font-size: small;
    color: $primary-text-c;
    margin-bottom: 1rem;
}

.li-city {
    color: $primary-text-c;
    margin-bottom: 2rem;
}
ul.ul-social li{
    display: inline;
    margin:1rem  1rem;
    color: $secondary-text-c;
}
.policy {
    margin-top: 3rem;
    text-align: center;
    color: $secondary-text-c;
    font-size: xx-small;
}
ul.ul-leng li {
    display: inline;
    color: $primary-text-c;
    font-size: small;
}
.ul-leng {

    padding-top: 3rem;
  li{
    
text-align: center;
margin: 0 1rem;
}
}